<div class="container">

    <h1>To-Do Application</h1>

    <hr>
    <form>
        <div class="container mt-4">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                    <label for="nom">Nom:</label>
                    
                  <input type="text" class="form-control" id="nom" placeholder="Nom" [(ngModel)]="newpersonne.nom" [ngModelOptions]="{standalone: true}" required >
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                <label for="prenom">Prénom:</label>
                <input type="text" class="form-control" id="prenom" [(ngModel)]="newpersonne.prenom" [ngModelOptions]="{standalone: true}" required >
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label for="age">Âge:</label>
                <input type="number" class="form-control" id="age" [(ngModel)]="newpersonne.age" [ngModelOptions]="{standalone: true}" required >
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <button class="btn btn-primary mt-4" (click)="ajouter()" >Ajouter</button>
                </div>
              </div>
            </div>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Age</th>
                <th scope="col">Modiffier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let personne of personnes let i = index">
                    <td>{{personne.nom}}</td>
                    <td>{{personne.prenom}}</td>
                    <td>{{personne.age}}</td>               
                    <td><button id="edit" class="btn btn-primary btn-sm" (click)="modifier(personne.id)" >Modiffier</button></td>
                    <td><button id="delete" class="btn btn-danger btn-sm" (click)="supprimer(personne.id)" >Supprimer</button></td>

            </tr>

        </tbody>
    </table>

<template #content>
    Hello Angular!
  </template>